//Button
// @forward '../lara-components/button/_button';
@forward '../lara-components/button/speeddial';
@forward '../lara-components/button/_splitbutton';

//Data
@forward '../lara-components/data/_carousel';
@forward '../lara-components/data/_datatable';
@forward '../lara-components/data/_dataview';
@forward '../lara-components/data/_filter';
@forward '../lara-components/data/_fullcalendar';
@forward '../lara-components/data/_orderlist';
@forward '../lara-components/data/_organizationchart';
@forward '../lara-components/data/_paginator';
@forward '../lara-components/data/_picklist';
@forward '../lara-components/data/_timeline';
@forward '../lara-components/data/_tree';
@forward '../lara-components/data/_treetable';
@forward '../lara-components/data/_virtualscroller';

//File
@forward '../lara-components/file/_fileupload';

//Input
@forward '../lara-components/input/_autocomplete';
@forward '../lara-components/input/_calendar';
@forward '../lara-components/input/_cascadeselect';
@forward '../lara-components/input/_checkbox';
@forward '../lara-components/input/_chips';
@forward '../lara-components/input/_colorpicker';
@forward '../lara-components/input/_dropdown';
@forward '../lara-components/input/_editor';
@forward '../lara-components/input/_inputgroup';
@forward '../lara-components/input/_inputmask';
@forward '../lara-components/input/_inputnumber';
@forward '../lara-components/input/_inputswitch';
@forward '../lara-components/input/_inputtext';
@forward '../lara-components/input/_listbox';
@forward '../lara-components/input/_multiselect';
@forward '../lara-components/input/_password';
@forward '../lara-components/input/_radiobutton';
@forward '../lara-components/input/_rating';
@forward '../lara-components/input/_selectbutton';
@forward '../lara-components/input/_slider';
@forward '../lara-components/input/_togglebutton';
@forward '../lara-components/input/_treeselect';

//Menu
@forward '../lara-components/menu/_breadcrumb';
@forward '../lara-components/menu/_contextmenu';
@forward '../lara-components/menu/_dock';
@forward '../lara-components/menu/_megamenu';
@forward '../lara-components/menu/_menu';
@forward '../lara-components/menu/_menubar';
@forward '../lara-components/menu/_panelmenu';
@forward '../lara-components/menu/_slidemenu';
@forward '../lara-components/menu/_steps';
@forward '../lara-components/menu/_tabmenu';
@forward '../lara-components/menu/_tieredmenu';

//Messages
@forward '../lara-components/messages/_inlinemessage';
@forward '../lara-components/messages/_message';
@forward '../lara-components/messages/toast';

//Misc
@forward '../lara-components/misc/_avatar';
@forward '../lara-components/misc/_badge';
@forward '../lara-components/misc/_blockui';
@forward '../lara-components/misc/_chip';
@forward '../lara-components/misc/_inplace';
@forward '../lara-components/misc/_progressbar';
@forward '../lara-components/misc/_scrolltop';
@forward '../lara-components/misc/_skeleton';
@forward '../lara-components/misc/_tag';
@forward '../lara-components/misc/_terminal';

//MultiMedia
@forward '../lara-components/multimedia/_galleria';
@forward '../lara-components/multimedia/_image';

//Overlay
@forward '../lara-components/overlay/_confirmpopup';
@forward '../lara-components/overlay/_dialog';
@forward '../lara-components/overlay/_overlaypanel';
@forward '../lara-components/overlay/_sidebar';
@forward '../lara-components/overlay/_tooltip';

//Panel
@forward '../lara-components/panel/_accordion';
@forward '../lara-components/panel/_card';
@forward '../lara-components/panel/_divider';
@forward '../lara-components/panel/_fieldset';
@forward '../lara-components/panel/_panel';
@forward '../lara-components/panel/_scrollpanel';
@forward '../lara-components/panel/_splitter';
@forward '../lara-components/panel/_tabview';
@forward '../lara-components/panel/_toolbar';






