$size-icon-16: 1.6rem; 
$size-icon-18: 1.8rem; 
$size-icon-20: 2rem; 
$size-icon-24: 2.4rem; 
$size-icon-28: 2.8rem; 
$size-icon-34: 3.4rem; 
$size-icon-36: 3.6rem; 
$size-icon-48: 4.8rem; 
$size-game-sm: 760px/428px; 
$size-game-md: 1024px/576px; 
$size-game-lg: 1365px/765px; 
$size-game-fullscreen: 1920px/1080px; 
$size-radius-sm: .2rem; 
$size-radius-md: .6rem; 
$size-radius-lg: .8rem; 
$size-radius-round: 50%; 
$size-radius-full: 9999rem; 
