$transition-speed-50: 50ms; 
$transition-speed-100: 100ms; 
$transition-speed-200: 200ms; 
$transition-speed-300: 300ms; 
$transition-speed-400: 400ms; 
$transition-speed-500: 500ms; 
$transition-speed-1000: 1000ms; 
$transition-speed-1500: 1500ms; 
