$color-brand-primary: #8e47ff; 
$color-brand-secondary: #c5312c; 
$color-layer-0: #121212; 
$color-layer-1: #1e1e1e; 
$color-layer-2: #232323; 
$color-layer-3: #272727; 
$color-layer-4: #2c2c2c; 
$color-layer-5: #313131; 
$color-layer-6: #353535; 
$color-layer-7: #3a3a3a; 
$color-layer-8: #3f3f3f; 
$color-layer-9: #444444; 
$color-font-0: #121212; 
$color-font-20: #414141; 
$color-font-40: #717171; 
$color-font-60: #A0A0A0; 
$color-font-80: #D0D0D0; 
$color-font-100: #FFFFFF; 
$color-elevate-1: #ffffff0d; 
$color-elevate-2: #ffffff12; 
$color-elevate-3: #ffffff17; 
$color-elevate-4: #ffffff1c; 
$color-elevate-5: #ffffff21; 
$color-elevate-6: #ffffff26; 
$color-elevate-7: #ffffff2b; 
$color-elevate-8: #ffffff30; 
$color-elevate-9: #ffffff36; 
$color-neutral-0: #121212; 
$color-neutral-10: #292929; 
$color-neutral-20: #414141; 
$color-neutral-30: #595959; 
$color-neutral-40: #717171; 
$color-neutral-50: #888888; 
$color-neutral-60: #a0a0a0; 
$color-neutral-70: #b7b7b7; 
$color-neutral-80: #d0d0d0; 
$color-neutral-90: #e6e6e6; 
$color-neutral-100: #ffffff; 
$color-extern-twitch: #6441a5; 
$color-extern-youtube: #c4302b; 
$color-extern-github: #4078c0; 
$color-extern-reddit: #ff4500; 
$color-extern-twitter: #1da1f2; 
$color-extern-facebook: #4267b2; 
$color-account-connected: #00ad6e; 
$color-account-disonnected: #e72530; 
$color-streamer-live: #ff0000; 
$color-streamer-ingame: #8e47ff; 
$color-number-increase: #00ad6e; 
$color-number-decrease: #e72530; 
$color-danger: #9c0c14; 
$color-severity-ok: #00ad6e; 
$color-severity-info: #067ff6; 
$color-severity-low: #eaf904; 
$color-severity-moderate: #fb8300; 
$color-severity-high: #e72530; 
$color-severity-critical: #9c0c14; 
